/* /css/botones.css */
.btn-acceso {
    display: inline-flex; 
    align-items: center; 
    justify-content: center;
    gap: 8px;
    padding: 12px 24px;
    border-radius: var(--radius-md);
    font-weight: bold;
    text-decoration: none;
    transition: var(--transition);
    border: none;
    cursor: pointer;
    background-color:#ffffff;
    color: #3498db !important;
    
}

.btn-acceso:hover {
    transform: translateY(-2px); 
    color: #1c5378 !important;
}

.btn-acceso-intranet{
    display: inline-flex; 
    align-items: center; 
    justify-content: center;
    gap: 8px;
    padding: 4px 24px;
    border-radius: var(--radius-md);
    font-weight: bold;
    text-decoration: none;
    transition: var(--transition);
    border: none;
    cursor: pointer;
    background-color:var(--color-primary);
    color: #ffffff !important;
}

.btn-acceso-intranet:hover {
    background-color: var(--color-accent);
    transform: translateY(-2px); 
    color: #ffffff !important;
}

.btn-primary { 
    background-color: var(--color-primary); 
    color: white; 
}

.btn-primary:hover { 
    background-color: var(--color-primary-hover); 
    transform: translateY(-2px); 
}

.btn-white { 
    background-color: white; 
    color: var(--color-primary); 
}

.btn-white:hover { 
    box-shadow: var(--shadow-card); 
    transform: translateY(-2px); 
}

.btn-lg {
    font-size: 18px;
    padding: 15px 30px;
}